[submodule "fateboard"]
	path = fateboard
	url = https://github.com/zjzdy/FATE-Board.git
	branch = FATE_1.9.0
[submodule "eggroll"]
	path = eggroll
	url = https://github.com/zjzdy/eggroll.git
	branch = FATE_1.9.0
[submodule "fateflow"]
	path = fateflow
	url = https://github.com/zjzdy/FATE-Flow.git
	branch = FATE_1.9.0
